.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__row {
      color: $fourthColor;
      position: relative;
      width: 100%;
      max-width: 350px;
      height: 50px;
      box-shadow: $box-shadow;
      border-radius: 5px;
      border: 2px solid #4044df;
      background-color: $firstBgColor;
      overflow: hidden;
      margin-right: 12px;

      &--header {
        border: none;
      }

      &--no-border {
        border: none;
      }
  }

  &__input {
      border: none;
      margin-top: 1px;
      padding: 0 30px 0 51px;
      width: 100%;
      height: 100%;
      font-size: calc-rem(14px);
      outline:none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #8d91bc;
        font-size: calc-rem(14px);
      }
  }

  &__select {
    border: none;
    margin-top: 1px;
    padding: 0 30px 0 30px;
    width: 90%;
    height: 100%;
    font-size: calc-rem(14px);
    color: #8d91bc;
    outline:none;

    &::placeholder {
      color: #8d91bc;
      font-size: calc-rem(14px);
    }

    & > option {
      color: #8d91bc;
      font-size: calc-rem(14px);
    }
  }

  &__input-ico {
    position: absolute;
    height: 20px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
  }
}