.menu {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  &--column {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include rwd(768px) {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-left: 35px;
    font-size: calc-rem(14px);

    @include rwd(768px) {
      margin-left: 0;
      margin-bottom: 20px;
      font-size: calc-rem(20px);
    }

    &--footer {
      margin-bottom: 15px;

      @include rwd(768px) {
        margin-left: 0;
      }
    }
  }

  &__url {
    font-size: inherit;
  }

  &__head {
    font-size: inherit;
    font-weight: 700;
    margin-bottom: 0;
  }
}