// FONT FAMILY
// $primaryFont: "Sofia Pro Regular";
$primaryFont: 'Ubuntu',
sans-serif;


// FONT SIZING

$baseFontSize: 16px;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;

// COLORS

$firstColor: #262626;
$secondColor: #4044df;
$thirdColor: #fff;
$fourthColor: #8d91bc;

$firstBgColor: #fff;
$secondBgColor: #4044df;
$thirdBgColor: #f5f5f9;

// BOX SHADOW

$box-shadow: 0 6px 12px rgba(64, 68, 223, 0.16);
// $box-shadow-white: 4px 4px 4px rgba(255, 255, 255, 1);