// GRID
.container {
  width: calc(100vw - 440px);
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @include rwd(1600px) {
    width: calc(100vw - 280px);
  }

  @include rwd(1200px) {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }


  @include rwd(992px) {
    width: 100%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;

  &--align-center {
    align-items: center;
  }

  &--advantage {
    padding: 130px 0;

    @include rwd(992px) {
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.column {
  width: 50%;
}
