// GRID
.container {
  width: calc(100vw - 440px);
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @include rwd(1600px) {
    width: calc(100vw - 280px);
  }

  @include rwd(1200px) {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }


  @include rwd(992px) {
    width: 100%;
  }
}

.half-bg {
  &-40 {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    position: absolute;
    width: 40%;

    @include rwd(1200px) {
      right: 0;
      width: 40%;
    }

    @include rwd(990px) {
      position: static;
      top: 0;
      transform: unset;
      width: 80%;
      margin: 40px auto 0;
    }
  }

  &--right {
    left: unset;
    right: 0;
  }
}

.half-content {
  &-60 {
    width: 60%;

    @include rwd(990px) {
      position: static;
      margin: 0 auto;
      width: 100%;
    }
  }
}


.section {
  &-title-xl {
    margin-bottom: 61px;

    &--small-mb {
      margin-bottom: 17px;
    }
  }

  @include rwd(1100px) {
    &-offert {
      margin-bottom: 100px;
  &--align-center {
    align-items: center;
  }

  &--advantage {
    padding: 130px 0;

    @include rwd(992px) {
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
  }

  @include rwd(990px) {
    &-offert {
      margin-bottom: 0;
    }
  }

}


.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  grid-auto-rows: auto;
  // gap: 30px;
  align-items: stretch;
  margin-bottom: 74px;


}
.column {
  width: 50%;
}
