.section {
  position: relative;
  padding: 80px 0;

  &--py0 {
    padding: 0 0;
  }

  &--gradient-bg {
    background: linear-gradient(0deg, $secondColor 50%, $thirdColor 50%);
    overflow: hidden;
  }

  &--dark-bg {
    background-color: $secondColor;
  }

  &--grey {
    background-color: #f5f5f9;
  }

  &--pb0 {
    padding-bottom: 0;
  }
}
