// Sidebars styles
.contact-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 30px;


  &--slogan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: $firstColor;

  }

  &__ico {
    display: flex;
    height: auto;
    max-height: 75px;

    &-wrapper {
      display: flex;
      justify-content: center;
      width: 75px;
      height: 75px;
      background-color: $firstBgColor;
      border-radius: 50%;
    }

  }

  &__wrap {
    margin-left: 45px;
  }

  &__title {
    color: inherit;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;

    &-bright {
      color: $thirdColor;
    }
  }

  &__info {
    opacity: 0.7;
    color: inherit;
    font-size: calc-rem(14px);
    line-height: calc-rem(18px);
    margin: 0;

    &-bright {
      color: $thirdColor;
    }
  }

}